@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@500&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}

body {
   font-family: lato, sans-serif;
   font-weight: 300;
   color: #383838;
   background-color: rgb(250, 238, 223);
}

/* heading and logo */
h1,
h2 {
   font-family: "playfair display", sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: #282828;
}

#company {
   float: left;
   font-size: 220%;
   margin-left: 35px;
}


/* navigation bar */

#navbar {
   font-size: 110%;
   letter-spacing: 4px;
   font-weight: 500;
}

#company,
#navbar {
   line-height: 80px;
}

#navbar li {
   float: right;
   list-style-type: none;
   margin-right: 40px;
}

#navbar a {
   text-decoration: none;
   color: inherit;
}

#navbar a:hover {
   border-bottom: 2px solid #383838;

}

.active {
   border-bottom: 2px solid #383838;
}

/* hero image */

#fashioned-outer {
   height: 650px;
   width: 100%;
   overflow: hidden;
}

#old-fashioned {
   height: 650px;
   width: 100%;
   background: url('../images/old-fashioned.avif') no-repeat center center;
   background-size: cover;

}

/* main body of information */

#cocktail-lab {
   height: 500px;
}

#left-about {
   padding-top: 30px;
   width: 33%;
   float: left;
}

#right-about {
   padding-top: 30px;
   width: 33%;
   float: right;
}

#center-about {
   padding-top: 30px;
   width: 33%;
   margin: 0 auto;
}

hr {
   border-top: 1px solid #3a3a3a;
   width: 100%;
   margin: 5px 0;
}

.left-about-heading {
   width: 100%;
   float: right;
   line-height: 20px;
   clear: both;
   margin-bottom: 50px;
}

.right-about-heading {
   width: 100%;
   float: left;
   line-height: 20px;
   clear: both;
   margin-bottom: 50px;
}

.right-about-heading h2 {
   text-align: right;

}

.right-about-heading p {
   text-align: right;
}

#welcome {
   text-align: center;
   margin: 20px 0;
   font-size: 280%;
}

#circle-container {
   width: 300px;
   height: 300px;
   padding: 30px;
   border-style: solid;
   border-color: #ccc;
   border-width: 1px;
   border-radius: 50%;
   margin: 0 auto;
}

#circle-cover-bg {
   background: url('../images/drinks-min.jpeg');
   height: 100%;
   border-radius: 50%;
}

.container-drinks {
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
}

#drinks-heading {
   text-align: center;
   margin: 20px 0;
   font-size: 280%;
   padding-top: 40px;
   margin-top: 10px;
}

.container-ingredients {
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
}

#rum {
   margin: 1rem 0;
   padding: 1rem 0;
   border: 1rem 0;
}

#whiskey {
   margin: 1rem 0;
   padding: 1rem 0;
   border: 1rem 0;
}

#espresso {
   margin: 1rem 0;
   padding: 1rem 0;
   border: 1rem 0;
}

/* gallery images */

#gallery-drinks {
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
}

#gallery-heading {
   text-align: center;
   margin: 20px 0;
   font-size: 280%;
   padding-top: 40px;
}

* {
   box-sizing: border-box;
}

.row {
   display: flex;
}

.column {
   flex: 33.33%;
   padding: 5px;
}

/* contact */

#contact {
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
}

#contact-heading {
   text-align: center;
   margin: 20px 0;
   font-size: 280%;
   padding-top: 40px;
}

.container-contact {
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
}

#phone {
   border-bottom: 2px solid #383838;
}

#email {
   border-bottom: 2px solid #383838;
}

/* map */

#map-wrapper {

   height: 300px;
   margin-bottom: 107px;
}

#map {
   height: 100%;
   width: 100%;
   border: none;
}

#map-align {
   margin-top: 50px;
}

.locate {
   width: 100%;
   height: 400px;
}

/* Subscribe */

#subscribe {
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
}

#subscribe-heading {
   text-align: center;
   margin: 20px 0;
   font-size: 280%;
   padding-top: 40px;
}

.container-subscribe {
   padding-top: 10px;
   background-color: rgb(250, 238, 223);
}

input[type=text],
input[type=submit] {
   width: 100%;
   padding: 12px;
   margin: 0;
   display: flex;
   justify-content: center;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

input[type=checkbox] {
   margin-top: 16px;
}

input[type=submit] {
   background-color: #282828;
   color: white;
   border: none;
}

input[type=submit]:hover {
   opacity: 0.8;
}

form {
   padding: 10px;
}

/* footer*/

footer {
   height: 150px;
}

.social-networks {
   text-align: center;
}

.social-networks li {
   display: inline;
}

.social-networks i {
   font-size: 160%;
   max-width: 1%;
   padding: 5%;
   color: #3a3a3a;
}

/* media queries */

/*for larger to medium screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
   #cocktail-lab {
      width: 65%;
      height: 1200px;
      margin: 0 auto;
      text-align: center;
   }

   #welcome {
      padding: 30px 0;
      margin: 0;
   }

   #left-about,
   #right-about {
      width: 100%;
      padding: 0;
      text-align: center
   }

   #center-about {
      clear: both;
      width: 100%;
      float: left;
      padding: 0;
   }

   .left-about-heading h2,
   .right-about-heading h2 {
      width: 100%;
      text-align: center;
   }

   .left-about-heading p,
   .right-about-heading p {
      text-align: center;
      padding: 0 20px;
   }

   .container-drinks,
   .container-ingredients {
      width: 100%;
      float: left;
      padding: 0;
      text-align: center;
   }

   #gallery-drinks {
      width: 100%;
      text-align: center
   }

   hr {
      display: none;
   }
}

/* for media screen sizes 950px wide and down */

@media screen and (max-width:950px) {

   #navbar {
      clear: left;
      float: left;
      margin-left: 30px;
      margin-bottom: 20px;
      line-height: 25px;
   }

   #cover-text {
      left: 0;
   }

   #cocktail-lab {
      width: 90%;
      height: 1200px;
      margin: 0 auto;
   }

   .left-about-heading,
   .right-about-heading {
      width: inherit;
   }

   .left-about-heading h2,
   .right-about-heading h2 {
      width: 100%;
      text-align: center;
   }

   .left-about-heading p,
   .right-about-heading p {
      text-align: center;
      padding: 0 20px;
   }

   .container-drinks {
      width: 100%;
      text-align: center;
   }


   .container-ingredients {
      width: 100%;
      text-align: center;
   }

   #gallery-drinks {
      width: 100%;
      text-align: center
   }

   #our-drinks {
      width: inherit;
   }

   .drinks-heading {
      width: 100%;
      text-align: center;
   }

   #gallery {
      column-count: 2;
   }
}

@media screen and (max-width: 800px) {
   #gallery {
      column-count: 2;
   }

   .container-ingredients {
      flex-direction: column;
   }

   .container-contact {
      flex-direction: column;
      text-align: center;
   }

   .container-contact h2 {
      margin: 1rem 0;
      padding: 1rem 0;
      border: 1rem 0;
   }

   #rum {
      margin: 1rem 0;
      padding: 1rem 0;
      border: 1rem 0;
   }

   #whiskey {
      margin: 1rem 0;
      padding: 1rem 0;
      border: 1rem 0;
   }

   #espresso {
      margin: 1rem 0;
      padding: 1rem 0;
      border: 1rem 0;
   }
}

@media screen and (max-width: 680px) {
   #navbar {
      font-size: 110%;
      letter-spacing: 4px;
      font-weight: 500;
      display: flex;
      flex-direction: column-reverse;

   }
}

@media screen and (max-width: 350px) {
   #company {
      float: left;
      font-size: 100%;
      margin-left: 35px;
   }
}