
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}



body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #383838;
    background-color: rgb(250, 238, 223);
}  

/* heading and logo */
 h1 , h2 {
    font-family: playfair display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #282828;
 }

 #company {
    float:left;
    size: 280%;
    margin-left: 35px;
 }


/* navigation bar */

 #navbar {
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
 } 

 #company , #navbar {
      line-height: 80px;
}

 #navbar li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
 }

 #navbar a {
    text-decoration: none;
    color: inherit;
 }

#navbar a:hover {
    border-bottom: 2px solid #383838;

} 


.active {
    border-bottom: 2px solid #383838;
} 

/* hero image */


#fashioned-outer {
   height: 650px;
   width: 100%;
   overflow: hidden;
}

#old-fashioned {
   height: 650px;
   width: 100%;
   background: url('../images/old-fashioned.avif') no-repeat center center;
   background-size: cover;
   
}

#quote {
   float: right;
}

  