
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #383838;
}  

/* heading and logo */
 h1 , h2 {
    font-family: playfair display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #282828;
 }

 #company {
    float:left;
    size: 280%;
 }


/* navigation bar */

 #navbar {
    font-size: 110%;
    letter-spacing: 4px;
 } 

 #company , #navbar {
      line-height: 75px;
}

 #navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
 }

 #navbar a {
    text-decoration: none;
    color: inherit;
 }

#navbar a:hover {
    border-bottom: 1px solid #383838;

} 

.active {
    border-bottom: 1px solid #383838;
}